#fondo {
    
    --background: url('/assets/images/background9.jpg') no-repeat center center / cover ;
    

    --color: white;
}
div{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

// #selector{
//     text-align: center;
// }

#tabla{
    text-align: center;
}

#tabla_elegida{
    text-align: center ;
    margin-top: 8%;
}

#guardar{
    text-align: center ;

}

ion-button {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 10px;
    --background: linear-gradient(45deg, #32a852, #a8eb12);
    --color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
    }
}


