
<ion-content  [fullscreen]="true" id="fondo" >
  
  <div>
    <ion-grid >
      
      <ion-row>
        <ion-col class="index">
        Usuario: {{auth_user?.name}}

        </ion-col>
<ion-col>
</ion-col>
        <ion-col class="index">
          ALIMNENTACIÓN SALUDABLE!
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <p>Esta página permite visualizar el seguimiento de los macronutrientes consumidos en tres niveles de detalle: 
          diario, mensual y anual. Su objetivo es proporcionar un control preciso de la alimentación del usuario, 
          facilitando el monitoreo de su ingesta calórica y nutricional.</p> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

  
    <ion-grid>
      <ion-row>
        <ion-col>
    <ion-title>CONTROL DIARIO</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>GRASAS</ion-label>
        <ion-badge class="color_grasas" >{{dia.grasas}}g</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>HIDRATOS DE CARBONO</ion-label>
        <ion-badge class="color_hidratos">{{dia.hidratos}}g</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>PRROTEINA</ion-label>
        <ion-badge class="color_proteinas">{{dia.proteinas}}g</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>CALORIAS</ion-label>
        <ion-badge class="color_kcal">{{dia.kcal}} </ion-badge>
      </ion-item>
    </ion-list>
  </ion-col>
  
  <ion-col>
    <ion-title>CONTROL MENSUAL</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>GRASAS</ion-label>
        <ion-badge class="color_grasas">{{mes.grasas}}g</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>HIDRATOS DE CARBONO</ion-label>
        <ion-badge class="color_hidratos">{{mes.hidratos}}g</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>PRROTEINA</ion-label>
        <ion-badge class="color_proteinas">{{mes.proteinas}}g</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>CALORIAS</ion-label>
        <ion-badge class="color_kcal">{{mes.kcal}}</ion-badge>
      </ion-item>
    </ion-list>
  </ion-col>
  
  <ion-col>
    <ion-title>CONTROL ANUAL</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>GRASAS</ion-label>
        <ion-badge class="color_grasas">{{ano.grasas}}g</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>HIDRATOS DE CARBONO</ion-label>
        <ion-badge class="color_hidratos">{{ano.hidratos}}g</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>PRROTEINA</ion-label>
        <ion-badge class="color_proteinas">{{ano.proteinas}}g</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>CALORIAS</ion-label>
        <ion-badge class="color_kcal">{{ano.kcal}}</ion-badge>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>
<ion-row>
  <div id="botones">
    <ion-button class="verde" routerLink="/productos">AÑADIR PRODUCTOS</ion-button>
    <ion-button class="amarillo" routerLink="/ranking">IR A RANKING</ion-button>
    <ion-button class="rojo" routerLink="/log-in">LOG OUT</ion-button>


  </div>
</ion-row>
</ion-grid>

</ion-content>
